# dependencies
/node_modules

# testing
/coverage
/playwright-report/
/test-results/
/playwright/.cache/
/blob-report/
/playwright/.last-run.json

# vinext / next.js
/.next/
/.vinext/
/dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env*
!.env.example

# vercel
.vercel

# wrangler
/.wrangler/
/outputs/
/work/

# editor / OS
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# typescript build info
*.tsbuildinfo
