# dependencies
/node_modules

# testing
/coverage

# vinext / next.js
/.next/
/.vinext/
/dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env*

# vercel
.vercel

# wrangler
/.wrangler/
/outputs/
/work/
